doctype html
html
		head
				link(rel="stylesheet", href="./css/syles.css")
				meta(charset="utf-8")
				body
					.emailContiainer
						.emailHeaer
							.emailCenter

								.emailHeaerTopLine
									a.emailLogo(href="#")
										img(src="./img/logo.png", alt="logo")
	
										.emailCocialWrap
											a(href="#")
												img(src="./img/soc_fb.png", alt="fb")
											a(href="#")
												img(src="./img/soc_vk.png", alt="vk")
											a(href="#")
												img(src="./img/soc_twitter.png", alt="tw")
	
									.emailHeaerTop
										h1 это лучшее предложение что вы могли получить
									a(href="#").emailButton Поробнее

						.emailCenter
							.emailTizersWrap
								.emailTizersIcon
									img(src="./img/icon_1.png", alt="Icon")
									p У нас лапки
								.emailTizersIcon
									img(src="./img/icon_2.png", alt="Icon")
									p И бумажные самолетики
								.emailTizersIcon
									img(src="./img/icon_3.png", alt="Icon")
									p Кроме того, у нас есть чемодан 
						.emailCenter
							.emailSailText Заказывыая сейчас - получите сикдку
						
							.emailProductsWrap
								-for( i = 1; i < 5; i++)
									.emailProductsSell.emailCenter
										a(href="#")
											img(src="./img/items/"+ i +".jpg", alt="buy")
										.emailPrice 2 000 руб
										a(href="#").emailButton.emailButtonSell Заказать

						.emailFooter.emailCenter
							p ООО "Компания Мира" <a href="#">Отказаться от рассылки</a>
