body{
margin: 0;
padding: 0;
}
.emailContiainer{
font-family: sans-serif;
font-size: .9em;
color: #666;
}
h1{
font-size: .9em;
}
.emailHeaer{
background-color: #574943;
background-image: url(../img/bg.jpg);
background-position: top left;
color:#fff;
padding-top: 30px;
}

.emailCenter{
margin: auto;
padding: 0 20px;
max-width: 600px;
text-align: center;
}
.emailLogo{
float: left;
}

.emailCocialWrap{
float: right;
	a{
	margin-left: 10px; 
	}
}
.emailHeaerTop{
padding-top:20%;
margin-bottom: 15%;
text-align: center;
font-weight: bold;
text-transform: uppercase;
font-size: 32px;
line-height: 34px;
}
.emailButton{
display: inline-block; 
padding: 2.5% 10%;
margin-bottom: 90px;
border-radius: 5px;
background-color: #56ba5b;
color: #fff;
text-decoration: none;
text-transform: uppercase;
}
// Tizers 
.emailTizersWrap{
background-color: #f1f1f2;
border-bottom: 5px solid #d5d5d5;
margin-top: -35px;
padding: 35px 0 20px;
}
.emailTizersIcon{
display: inline-block;
padding-bottom: 15px;
width:150px;
padding: 0 20px ;
vertical-align: top;
}
// Sail text
.emailSailText{
border: 1px solid rgb(122, 105, 90);
text-transform: uppercase;
display: inline-block;
padding: 2.5% 15%;
margin-top: 40px;
margin-bottom: 35px;
color: rgb(122, 105, 90);
letter-spacing: 3px;
}
// Prodution 
.emailProductsWrap{
 img {
 width:100%;
 }
}
.emailPrice{
padding-top: 10px;
padding-bottom: 10px;
font-weight: bold;
font-size: 1.2em;
color: rgb(4, 5, 6);
}
.emailProductsSell{
width:40%;
display: inline-block;
padding: 0 2%;
border-bottom: 1px solid #d5d5d5;
margin-bottom: 15px;
}
.emailButtonSell{
background-color: rgb(122, 105, 90);
padding: 1.9% 9%;
font-size: .9em;
margin-bottom: 15px;
}
//footer
.emailFooter{
background-color: #ececec;
padding: 20px ;
max-width: 100%;
	a {
	color: #a1a1a1;
	
	}
}
